*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.mast-container{
	width: 100vw;
	height: 100vh;
	background-color: rgb(10, 47, 10);
	display: flex;
	align-items: center;
	justify-content: center;
}
.container{
	width: 80vw;
	height: 90vh;
	background-color: blue;	
	display: flex;
}
.container-left{
	width: 30%;
	height: 100%;
	background-color: brown;
}
.container-right{
	width: 70%;
	height: 100%;
	background-color: cadetblue;
}